<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.droibit.oss_licenses.ui.wearable">

    <application>
        <activity
            android:name=".WearableOssLicensesActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault" />
    </application>

</manifest>