<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <activity
      android:name=".WearableOssLicensesActivity"
      android:taskAffinity=".licenses"
      android:theme="@android:style/Theme.DeviceDefault"
      android:exported="true">
      <intent-filter>
        <action android:name="com.google.wear.ACTION_SHOW_LICENSE" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
  </application>
</manifest>
