name: Gradle Plugin CI

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/gradle-plugin.yml'
      - 'gradle/**'
      - 'gradle-plugin/**'
      - '!**.md'
    tags-ignore:
      - '**'
  pull_request:
    branches: [ '**' ]
    paths:
      - '.github/workflows/gradle-plugin.yml'
      - 'gradle/**'
      - 'gradle-plugin/**'
      - '!**.md'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Set git to use LF
        if: matrix.os == 'windows-latest'
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
        with:
          gradle-home-cache-cleanup: true

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Build gradle-plugin projects
        run: ./gradlew assemble
        working-directory: ./gradle-plugin

      - name: Run tests and verification
        run: ./gradlew check
        working-directory: ./gradle-plugin
